{
    "id": $festivalId,
    "name": "nearby",
    "start": "2014-01-01",
    "end": "2014-01-03",
    "type": "Headline",
    "url": "http://festivals-test.com/show/$festivalId/headline/nearby",
    "website": null,
    "address": "Dublin, Ireland",
    "latitude": 53.01,
    "longitude": -7.01,
    "lineupAllowed": true,
    "synopsis": null,
    "lineup": [
        {
            "id": $artistId,
            "name": "nick",
            "headline": true,
            "performanceDate": "2014-01-02",
            "performanceTime": null,
            "image": null,
            "thumbnail": null
        },
        {
            "id": $artistId,
            "name": "nick",
            "headline": true,
            "performanceDate": "2014-01-03",
            "performanceTime": null,
            "image": null,
            "thumbnail": null
        }
    ]
}