.dropdown .caret {
    margin-left: 6px;
}

.dropdown-menu {
    /* remove this to make the Alerts sub-menu the same width as those of the wide sub-menus */
    min-width: inherit;
}

.nav a[href='#'] {
    cursor: default;
}

.block-text {
    text-align: justify;
}

.block-text h1, .block-text h2, .block-text h3 {
    text-align: left;
}

.alert a {
    color: yellow;
}

.alert a:hover {
    color: inherit;
}

form.form-inline button, form.form-inline input[type="submit"] {
    padding-top: 5px;
    padding-bottom: 5px;
}


.fadeout {
    opacity: 0.1 !important;
}

.hide {
    display: none;
}

textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

ul.spaced li {
    margin: 7px 0;
}

.left-align {
    text-align: left;
}

.center, .ticket-btn {
    text-align: center;
}

.modal form.add-performer {
    text-align: left;
    margin: 0 15px 15px 15px;
}

.modal h2 {
    margin-bottom: 15px;
    text-align: center;
}

.modal .btn {
    padding: 10px 14px
}

#register-modal form {
    margin: 0;
}

input[type=checkbox].valign {
    margin-top: 3px;
}

#why-register-container {
    padding-top: 0;
    margin-top: 5px;
}

.dark-bg a {
    color: white;
}

.dark-bg a:hover {
    color: yellow;
}

span.alert {
    padding: 10px;
}

.danger {
    color: #B94A48;
    font-weight: bold;
}

.wysihtml5-toolbar a.btn {
    padding: 5px;
}

.artistEntry {
    float: left;
    margin: 10px 10px 20px 0;
    text-align: center;
}

.artistEntry .btn {
    padding: 5px 7px;
}

.artistEntry .btn-group {
    margin: 5px;
}

.artistEntry h3 {
    margin: 5px;
    font-size: 1.3em;
    line-height: 1.2em;
}

#festival-filter input[type=checkbox] {
    margin-top: 3px;
    margin-bottom: 0;;
}

#festival-filter {
    margin-bottom: 0;
}

.panel-form {
    background-color: #F4F4F4;
    padding: 10px;
    border-radius: 4px;
}

.panel-form fieldset {
    border: 1px solid #CCCCCC;
    margin: 15px 5px;
    padding: 0 10px;
}

.panel-form legend {
    color: #777777;
    font-weight: normal;
    margin-left: 20px;
}

.MessageBarCommon {
    background-color: white;
    border-bottom: 3px solid;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 15px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1100; /* Needs to be larger than bootstrap header */
}

.MessageBarOk {
    color: #2A6EAF;
    border-bottom-color: #2A6EAF;
}

.MessageBarWarning {
    color: #B94A48;
    border-bottom-color: #B94A48;
}

#msgContainer {
    margin-right: 10px;
    margin-bottom: 5px;
}

#notificationMessage {
    padding: 7px 0 7px 50px;
}

.MessageBarWarning #notificationMessage {
    background: url("../images/icons/warning.png") no-repeat scroll 5px 50%;
}

.MessageBarOk #notificationMessage {
    background: url("../images/icons/info.png") no-repeat scroll 5px 50%;
}

#closeMsg {
    padding-left: 15px;
    font-weight: normal;
    font-size: 0.9em;
}

#topMessageBar {
    cursor: pointer;
}

#login-modal input, #register-modal input {
    margin-bottom: 15px;
}

.icon {
    padding-top: 3px;
}

.logo {
    overflow: auto;
}

.header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.icon + span {
    padding-left: 2px;
}

.mapField, .no-wrap {
    white-space: nowrap;
}

.bootstrap-wysihtml5-insert-link-modal .modal-body {
    padding-top: 2px;
    padding-bottom: 2px;
}

.bootstrap-wysihtml5-insert-link-modal .bootstrap-wysihtml5-insert-link-url {
    width: 90%;
}

a[data-wysihtml5-command=Outdent], a[data-wysihtml5-command=Indent] {
    display: none;
}

.btn-group a[data-wysihtml5-command=insertOrderedList] {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.bootstrap-wysihtml5-insert-link-modal {
    position: fixed;
    top: 400px !important;
}

@media (max-width: 550px) {
    .wysihtml5-toolbar {
        /* hide the rich text editing buttons on small screens */
        display: none !important;
    }
}

.strong {
    font-weight: bold;
}

.like-h1, .like-h2 {
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.like-h2 {
    font-size: 18px;
    line-height: 20px;
}

#festivals-listed {
    font-family: 'Kreon', serif;
}

#festivals-listed .like-h1 {
    font-size: 36px;
}

/* submit buttons don't inherit the body font without this */
input[type=submit] {
    font-family: inherit;
}

#map {
    background: white url("../images/spinner.gif") no-repeat 50% 50%;
}

/* Makes the infobubble the ocrrect height so scrollbars are never needed */
#map img[src='http://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif'] + div {
    height: auto !important;
}

.artistEntry.saved img:hover {
    opacity: .8;
}

table {
    border: 1px solid #F4F4F4;
}

.over .festivalName, .over .nameCol, .finished {
    text-decoration: line-through;
}

table.festival-list td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist-image-container img {
    padding-top: 10px;
}

#to-top {
    height: 20px;
}

.title h2 {
    font-size: 24px;
    line-height: 32px;
}

#mobile-map-links {
    padding-bottom: 3px;
}

.panel {
    border-radius: 4px;
    background-color: #F4F4F4;
    padding: 0 15px 10px 15px;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 10px;
}

i.icon {
    line-height: 16px;
    font-size: 18px;
    vertical-align: text-top;
}

.tags {
    overflow: auto;
    list-style: none outside none;;
}

.tags .label {
    float: left;
    margin: 3px;
    background-color: #4E87E1;
}

.tags .label a {
    color: white;
    margin: 0;
}

ul.tags .label:hover {
    background-color: #335994;
}