.addressCol, .freeCol, .typeCol, .endCol, .countryCol, #favorite-festivals .startCol {
    display: none;
}

#favorite-festivals .removeFavoriteCol {
    background-image: none;
}

.item {
    position: relative;
}

#intro h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 30px;
}

#intro p {
    margin-bottom: 5px;
}

#intro a {
    font-weight: bold;
}

@media (min-width: 480px) {
    .startCol, .endCol {
        min-width: 85px;
    }
}

#mainCarousel .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 30px;
}

@media (max-width: 767px) {
    #mainCarousel .carousel-caption p {
        display: none;
    }
}

@media (max-width: 480px) {
    #mainCarousel .carousel-caption h2 {
        font-size: 15px;
        line-height: 20px;
    }

    #mainCarousel .carousel-caption {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 400px) {
    .facebook {
        display: none !important;
    }
}

@media (max-width: 300px) {
    #mainCarousel .carousel-caption {
        display: none;
    }
}

#news li:before {
    font-size: 150%;
}

.form-search .input-append {
    width: 100%;
    text-align: center;
}

#intro input {
    width: 50%;
    height: 22px;
}

.form-search {
    margin-bottom: 0;
}

h1 {
    font-size: 30px;
}

#updates li {
    margin-bottom: 10px;
}

#updates li:last-child {
    margin-bottom: 0;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > li > a:hover {
    background-color: #40C17E;
    opacity: 1;
}

.nav-tabs > li > a {
    background-color: #37A76D;
    opacity: 0.55;
}

li.odd a {
    color: #40C17E;
}

li.odd a:hover {
    color: #335994;
}

ul.tags {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 5px;
}

table.tablesorter thead tr .header {
    background-image: none;
}

.table thead th {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
